<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{data.titulo}}</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>

	<div>
	<h2>{{data.encabezado}}</h2>
	</div>
	<div>
	<form action='/datos' method='GET'>
 	<input type='Submit' value="encender" name='accion'/>	
	</form>
	<br>
	<form action='/datos' method='GET'>
 	<input type='Submit' value="apagar" name='accion'/>	
	</form>
	</div>
	<div>
	{%block contenido%}
	
	{%endblock%}
	
</div>
</html>